<!DOCTYPE html>
<html
        lang="en"
        th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
<head>
    <title>Add Contact</title>
</head>
<body>
<div id="content">
    <div th:if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar :: sidebar}"></div>
    </div>
    <div class="sm:pl-64 pt-20"
         style="height: 1000px"
    >
        <div class="grid grid-cols-12">
            <div class="col-span-3"></div>
            <div class="col-span-12 md:col-span-6">
                <div
                        class="card block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <div data-th-replace="message::messagebox"></div>

                    <h1 class="text-2xl font-semibold">Add New User</h1>
                    <p class="text-gray-500">
                        Welcome to the Admin Panel Effortlessly Add New Users to Your System!
                    </p>
                    <form data-th-action="@{'/admin/createUser/add'}" data-th-object="${userForm}" method="post" class="mt-5"
                          novalidate>
                        <div class="mb-3">
                            <label for="userType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Select User Type
                            </label>
                            <select id="userType" name="userType" data-th-field="*{userType}"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    required>
                                <option value="" disabled selected>Select User Type</option>
                                <option value="ROLE_USER">ROLE_USER</option>
                                <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                            </select>
                            <p data-th-if="${#fields.hasErrors('userType')}" data-th-errors="*{userType}"
                               class="text-red-600 px-1 py-2">
                                User type is required
                            </p>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                            <input type="text" id="name" data-th-field="*{name}"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   placeholder="Enter here" required />

                            <p data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}"
                               class="text-red-600 px-1 py-2">
                                Name is required
                            </p>
                        </div>
                        <!-- email field -->
                        <div class="mb-3">
                            <label for="email"
                                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                            <input data-th-field="*{email}" type="email" id="email"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   placeholder="name@flowbite.com" required />
                            <p data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}"
                               class="text-red-600 px-1 py-2"></p>
                        </div>
                        <!-- password field -->
                        <div class="mb-3">
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New
                                Password</label>
                            <input data-th-field="*{password}" type="password" id="password"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   required />
                            <p data-th-if="${#fields.hasErrors('password')}" data-th-errors="*{password}"
                               class="text-red-600 px-1 py-2"></p>
                        </div>
                        <!-- Phone field -->
                        <div class="mb-3">
                            <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                Number</label>
                            <input data-th-field="*{phoneNumber}" type="text" id="phone"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   placeholder="+91 99 9999 9999" required />

                            <p data-th-if="${#fields.hasErrors('phoneNumber')}" data-th-errors="*{phoneNumber}"
                               class="text-red-600 px-1 py-2"></p>
                        </div>

                        <!-- about textarea -->
                        <div class="mb-3">
                            <label for="about" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Write
                                something about yourself</label>
                            <textarea data-th-field="*{about}" id="about" rows="6"
                                      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                      placeholder="Write here..."></textarea>

                            <p data-th-if="${#fields.hasErrors('about')}" data-th-errors="*{about}"
                               class="text-red-600 px-1 py-2"></p>
                        </div>
                        <!-- button -->

                        <div class="mb-3 flex justify-center space-x-3">
                            <button type="submit"
                                    class="px-3 py-2 rounded bg-gray-800 hover:bg-gray text-white dark:bg-blue-800 dark:hover:bg-blue-800">
                                Create User
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script data-th-src="@{'/js/admin.js'}"></script>
<script>
    console.log("this is add_contact page");
</script>
</body>
</html>

